# Configurações da Aplicação
PORT=80
DOCKERFILE=DockerFile.dev

# Configurações do Banco de Dados
DB_HOST=db_kyc
DB_PORT=5432
DB_USER=caciano4
DB_PASSWORD=123caciano
DB_NAME=trullio

# Trulioo API Configuration
CLIENT_ID=9488e034v965aJ4304Q90d2G25fbb786dfb8
CLIENT_SECRET=%fxU*LnapqJ5lTr^7ircA_G!25ucvrEl
FLOW_ID=674e0ec2678bea7ec730fd98

# X-HF-Session (usado para autenticação)
X_HF_SESSION=68e774cb2d00003b009cbcf1

# PgAdmin Configuration
EMAIL_PGADMIN=admin@example.com
PASSWORD_PGADMIN=admin123

# Migration Configuration
MIGRATION_ACTION=up
MIGRATION_STEPS=

# Queue Configuration
WORKER_POOL_SIZE=5
JOB_QUEUE_SIZE=100
TRULIOO_RATE_LIMIT=10

# Trulioo Environment (test or prod)
TRULIOO_ENV=test