<!DOCTYPE html>
<html>

<head>
  <title>Trullio KYC</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
    integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="/static/js/app.js" defer></script>
</head>

<body>
  <div class="container">
    <!-- Título -->
    <h1 class="title is-3">TRULLIO KYC</h1>

    <!-- Imagem -->
    <img src="/static/assets/go-project.png" alt="Placeholder Image" class="image"
      style="max-width: 100%; width: 300px; height: auto; margin-bottom: 1rem; border-radius: 5px;">

    <!-- Input de Arquivo -->
    <div class="pure-form" style="max-width: 300px; margin: auto;">
      <label id="file-name" for="fileInput" class="pure-button pure-radio" style="border-radius: .3em; background: rgb(223, 117, 20); color: aliceblue;">
        <input id="fileInput" class="file-upload-input" type="file" style="display:none">
        Choose a file...
      </label>

      <!-- Botão de Enviar -->
      <button class="button is-primary pure-radio" id="uploadButton" style="margin-top: 1rem; margin-left:auto; margin-right: auto;">Submit</button>
    </div>


    <!-- Resultado -->
    <div id="result" style="margin-top: 1rem; color: #555;"></div>
  </div>
</body>

</html>